### Σημείωση: για να ανοίξουμε το αρχείο train.csv, πρέπει πρώτα να τρέξουμε το 'generate_train.ipynb', το οποίο το δημιουργεί.

In [1]:
import pandas as pd
pd.set_option('display.max_rows',1000)
train_df = pd.read_csv("train.csv")

### Ερώτημα 1.1: Συχνότερος τύπος δωματίου(room_type)

In [2]:
train_df['room_type'].value_counts().idxmax()

'Entire home/apt'

### Ερώτημα 1.2: πορεία τιμών για το διάστημα των μηνών Φεβρουαρίου, Μαρτίου, Απριλίου

In [3]:
df = train_df[['neighbourhood', 'number_of_reviews']]
df = df.groupby(df['neighbourhood']).sum().sort_values(by ="number_of_reviews", ascending=False)
df

                   number_of_reviews
neighbourhood
Plaka                         132361
Koukaki                        90357
Neos Kosmos                    83348
Psyri                          54353
Metaxourgeio                   44792
Larissis                       41627
Kolonaki                       41600
Pangrati                       41161
Exarcheia                      40110
Mets                           36098
Ambelokipi                     33491
Kerameikos                     29862
Thiseio                        17756
Petralona                      17243
Attiki                         16428
Pedion Areos                   15721
Neapoli                        14085
Kolonos                        13716
Patisia                        13515
Agios Nikolaos                 11697
Kypseli                        11623
Gazi                           10377
Ilisia                          7629
Votanikos                       5592
Monastiraki                     4004
Akadimia Platonos               3750
Agios Loukas                    2713
Goudi                           1427
Sepolia                         1095
Profitis Daniil                  958
Rizoupoli                        787
Rouf                              70

### Ερώτημα 1.3: 5 πρώτες γειτονιές με τις περισσότερες κριτικές
### <span style="color:red">Θέλει φτιάξιμο</span>

In [4]:
# train_df.groupby(['neighbourhood','number_of_reviews']).size()
train_df[train_df['number_of_reviews']==0]

,id,name,description,transit,host_since,host_response_rate,host_has_profile_pic,host_identity_verified,neighbourhood,city,...,price,minimum_nights,availability_365,number_of_reviews,first_review,last_review,review_scores_rating,instant_bookable,cancellation_policy,month
7,31155,sleep on sailing boat,"on beautiful island of Aigina, 30 minutes from...",NaN,2010-05-28,NaN,t,f,Metaxourgeio,Athens,...,$39.00,1,365,0,NaN,NaN,NaN,f,flexible,april
24,85539,The Heart Of Athens,"Located in the centre of Athens, with a metro ...",NaN,2011-03-28,NaN,f,f,Larissis,Athens,...,$75.00,4,365,0,NaN,NaN,NaN,f,flexible,april
38,167416,"Apartment in Central Athens, Greece",100sq.meters appartment with 49sq.meters of ...,NaN,2011-07-09,NaN,t,f,Kypseli,Athens,...,$74.00,14,365,0,NaN,NaN,NaN,f,flexible,april
40,185936,New apartmenrt in Athens!,I can host 2 persons during August because my ...,NaN,2011-07-28,NaN,t,f,Votanikos,Athens,...,$30.00,7,365,0,NaN,NaN,NaN,f,moderate,april
102,545616,Design apartment near Syntagma!!,A 50 sq m studio apartment located on the firs...,"From the bus stop, 1 min. away one can find se...",2012-05-24,100%,t,t,Mets,Athens,...,$110.00,1,285,0,NaN,NaN,NaN,t,moderate,april
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28117,32226813,Zoe's Studio with Balcony Nefeli,"To Zoe´s Studio είναι ιδανικό για ζευγάρια, ή ...","Δίπλα στο σπίτι θα βρείτε 2 στάσεις μετρό, αυτ...",2010-05-26,100%,t,t,Neos Kosmos,Athens,...,$40.00,2,353,0,NaN,NaN,NaN,t,moderate,february
28118,32227307,"Cozy and modern studio, next to metro station",Very comfortable and cozy on the 2nd floor wit...,about 300m walking distance metro station meta...,2017-06-28,NaN,t,f,Larissis,Athina,...,$26.00,1,230,0,NaN,NaN,NaN,t,flexible,february
28119,32228418,Venia luxury suite,"Compositions: 1 Bedroom, 1 Bathroom, 1 Kitchen...",NaN,2017-06-17,100%,t,f,Plaka,Athina,...,$126.00,1,357,0,NaN,NaN,NaN,t,flexible,february
28120,32228956,Ανακαινισμένο διαμέρισμα αυτόνομο !!!!,Εχει γίνει γενική ανακαινιση σε όλους τους χώρ...,"τρόλεϊ , ,ταξί ,και είναι δέκα λεπτά απο την...",2018-04-13,NaN,t,f,Kypseli,Athina,...,$45.00,1,160,0,NaN,NaN,NaN,t,flexible,february
28121,32232241,Private room in zakynthian house,"quiet house, located close to the port of zaky...",NaN,2019-02-06,NaN,t,f,Exarcheia,Athina,...,$29.00,1,363,0,NaN,NaN,NaN,t,strict_14_with_grace_period,february

### Ερώτημα 1.4: Γειτονιά με τις περισσότερες καταχωρήσεις ακινήτων

In [5]:
train_df['neighbourhood'].value_counts().idxmax()

'Plaka'

### Ερώτημα 1.5: Αριθμός καταχωρήσεων ανά γειτονιά και ανά μήνα

In [6]:
train_df.groupby(["neighbourhood","month"]).size()

neighbourhood      month
Agios Loukas       april         71
                   february      68
                   march         70
Agios Nikolaos     april        209
                   february     196
                   march        206
Akadimia Platonos  april         47
                   february      23
                   march         44
Ambelokipi         april        511
                   february     469
                   march        502
Attiki             april        267
                   february     236
                   march        255
Exarcheia          april        480
                   february     382
                   march        468
Gazi               april         62
                   february     165
                   march         55
Goudi              april         30
                   february      27
                   march         30
Ilisia             april        176
                   february     154
                   march        172
Kerameikos         april        355
                   february      31
                   march        370
Kolonaki           april        611
                   february     525
                   march        586
Kolonos            april        119
                   february     129
                   march        122
Koukaki            april        806
                   february     741
                   march        771
Kypseli            april        304
                   february     178
                   march        309
Larissis           april        557
                   february     472
                   march        548
Metaxourgeio       april        525
                   february     481
                   march        521
Mets               april        271
                   february     296
                   march        271
Monastiraki        april         31
                   february      36
                   march         14
Neapoli            april        207
                   february     299
                   march        200
Neos Kosmos        april        809
                   february     777
                   march        791
Pangrati           april        602
                   february     522
                   march        578
Patisia            april        221
                   february     218
                   march        231
Pedion Areos       april        268
                   february     304
                   march        273
Petralona          april        245
                   february     225
                   march        230
Plaka              april       1116
                   february     990
                   march       1037
Profitis Daniil    april         13
                   february      12
                   march         15
Psyri              april        504
                   february     483
                   march        485
Rizoupoli          april         21
                   february      18
                   march         20
Rouf               april          4
                   february       4
                   march          4
Sepolia            april         37
                   february      27
                   march         33
Thiseio            april        112
                   february     314
                   march         94
Votanikos          april         59
                   february      50
                   march         54
dtype: int64

### Ερώτημα 1.7: Συχνότερος τύπος δωματίου(room_type) ανά γειτονιά(neighbourhood)

### Ερώτημα 1.8: Ακριβότερος τύπος δωματίου(room_type)

In [7]:
train_df[train_df['price'] == train_df['price'].max()]['room_type']

22016    Entire home/apt
Name: room_type, dtype: object